pipeline/Soal_Dua.json
{
	"name": "Soal_Dua",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Periode",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CSV_ADLS_ZAKHARIA",
						"type": "DatasetReference",
						"parameters": {
							"containar_name": "development",
							"folder_name": "/challangeSembilan/raw/",
							"delimeter_name": ",",
							"row_as_header": true,
							"file_name": "cal_numpy.csv"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Periode",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@split(activity('Lookup_Periode').output.firstRow.Prop_0,',')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyParquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Parquet_Soal_Dua",
									"type": "DatasetReference",
									"parameters": {
										"router": "trip-data",
										"file_name": {
											"value": "@concat('yellow_tripdata_',item(),'.parquet')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet_adls_zakharia",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": "@concat('Cha_Case_9/Task_2/staging/',item())",
										"file_name": "@concat('yellow_taxi_',item(),'.parquet')"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kelompok2@celeratesschooloutlook.onmicrosoft.com/zakharia/ChallangeSembilan/Cha_9_Task_2"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_Zakharia_Kelompok_2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_yellow_taxi_databricks]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer_Synapse_Celerates",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Challenge 9"
		},
		"annotations": []
	}
}